body {
  padding-top: 30px;
}

.navbar {
  background-color:rgba(64, 153, 255, 0.02)
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.full-screen {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    top: 0;
    left: 0;
}

.tweet {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #999;
}

.top-buffer { 
	margin-top:80px; 
}

blockquote img {
  margin-right: 15px;
}

.white-panel {
	position: absolute;
	background: white;
}

.loading {
	width: 100%;
	text-align: center;
	margin: 12px 0px;
}

.loading img {
	width: 32px;
}

.query-add {
	margin-top: 12px;
	margin-bottom: 4px;
}