body {
  padding-top: 30px;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.full-screen {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    top: 0;
    left: 0;
}

.tweet {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #999;
}

.top-buffer { 
	margin-top:80px; 
}

blockquote img {
  margin-right: 15px;
}

.sentiment {
}

.sentiment div div {
	border-radius: 5px;
	background-color: #eee;
	padding: 20px 10px;
	text-align: center;
}

.sentiment_img {
	margin-top: -12px;
	width: 100px;
	vertical-align: none;
}

.sentiment_score {
	width: 100%;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}

.sentiment_score_positive {
	color: #3c763d;
}

.sentiment_score_neutral {
	color: #999999;
}

.sentiment_score_negative {
	color: #a94442;
}

.tweet_label {
	text-align: center;
	color: #55ACEE;
	font-size: 2em;
	font-weight: bold;
}

.tweet_label_positive {
	color: #55ACEE;
}

.tweet_label_negative {
	color: #a94442;
}

h4 .alert {
	text-align: center;
} 

.code {
	padding: 10px 70px 10px 10px;
}
 
.zero-clipboard {
	position: relative;
	display: block;
}

.btn-clipboard-hover {
	color: #fff;
	background-color: #563d7c;
	border-color: #563d7c;
}

.btn-clipboard {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	display: block;
	padding: 5px 8px;
	font-size: 12px;
	color: #777;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #e1e1e8;
	border-radius: 0 4px 0 4px;
}

      .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
      }
      path {
        stroke: steelblue;
        stroke-width: 3;
        fill: none;
      }
      .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      .datapoint:hover{
	fill: steelblue;
      }
      .xlabel, .ylabel {
        font-weight:bold;
	font-size:20px;
      }
      
#demo {
position: relative;
max-width: 100%;
width: 100%;
}

.white-panel {
position: absolute;
background: white;
}
