
@font-face {
  font-family: futura;
  src: url(/static/fonts/futura.ttf);
}

body {
  background: url(/static/images/timelines/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #C52D35;
}

.box {
  width: 95%;
  padding: 15px 40px;
  background: url(/static/images/trans.png?x=y);
}

.navbar {
    display: none;
}

.huge {
    font-size: 5em;
}

h1, h2, h3, .lead, a {
    color: #C52D35;
}

a {
  text-decoration: underline;
}

.futura {
  font-family:futura;
  text-transform:uppercase;
}

.btn-primary, .btn-primary:hover, .alert-success {
  background-color: #C52D35;
  border: none;
}

#hashtag
{
  text-align: center;
}

.hints {
    font-weight: bold;
    display: none;
}
.hints_holder {
    text-align: left;
}
.form-horizontal {
    margin-left: 20px;
}
