<!DOCTYPE html>
<HTML>
<HEAD>

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="blitz" content="mu-24ef6016-c3ba7730-9ff5da5f-2734e59f">
    <link rel="icon shortcut" href="/favicon.ico?x=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/c3.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/site.css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="{{STATIC_URL}}js/moment.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-1.10.1.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.10.4.custom.js"></script>
    <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{STATIC_URL}}js/pinterest_grid.js"></script>
    <script src="{{STATIC_URL}}js/mustache.js"></script>
	<script src="{{STATIC_URL}}js/d3.js"></script>
	<script src="{{STATIC_URL}}js/c3.js"></script>
    <script src="{{STATIC_URL}}js/script.js"></script>

</HEAD>
  <body>

    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{{STATIC_URL}}/images/bird.png" height="45" class="navbar-brand">
          <a class="navbar-brand" href="/">Twitter Search</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{request.user.username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            {% else %}
              <li><a href="/login/twitter">Login via Twitter</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="">
      
{% block content %}{% endblock %}

      </div>

    </div><!-- /.container -->
    
  </body>
</html>