{% extends "base.html" %}
{% load tags %}
{% load humanize %}

{% block title %}Twitter Search{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-offset-2 col-md-8">

	<div id="buffer">
		<div class="top-buffer">
			&nbsp;
		</div>
	</div>
	
	<div class="row top-buffer">
	  <div class="col-md-10">
	    <input type="text" class="form-control" name="query" id="query" placeholder="(Walking Dead) OR #WalkingDead OR #TheWalkingDead has:media" value="{{query}}">
	    <p class="help-block pull-right small">
	    	<a href="#" data-toggle="collapse" data-target="#collapseOptions">advanced options</a>
	    	<span id="related">
	    		| <a href="#" data-toggle="collapse" data-target="#collapseTerms">related terms</a>
    		</a>
    	</p>
	  </div>
	  <div class="col-md-2">
	    <button type="submit" class="btn btn-primary" id="search">Search</button>
	  </div>
	</div>

    <div id="collapseOptions" class="accordion-body collapse">
      <div class="accordion-inner">

		<form class="form-horizontal row">
		  <div class="form-group form-group-sm">
		    <label for="inputEmail3" class="col-sm-2 control-label">Start date</label>
		    <div class="col-sm-3 input-group date datetimepicker">
		      <input type="email" class="form-control input-sm" id="start" placeholder="">
		      <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
		    </div>
		  </div>
		  <div class="form-group form-group-sm">
		    <label for="inputPassword3" class="col-sm-2 control-label">End date</label>
		    <div class="col-sm-3 input-group date datetimepicker">
		      <input type="email" class="form-control input-sm" id="end" placeholder="">
		      <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
		    </div>
		  </div>
		  <div class="form-group form-group-sm">
		    <label for="inputPassword3" class="col-sm-2 control-label">Tweet count</label>
		    <div class="col-sm-3 input-group">
		      <input type="email" class="form-control input-sm" id="embedCount" value="20">
		    </div>
		  </div>
		  <div class="form-group form-group-sm">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="media"> Has media
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group form-group-sm">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" id="retweet"> Is retweet
		          <p class="help-block" id="retweet_help">Specify original tweet with (retweets_of_status_id:SOME_ID)</p>
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group form-group-sm">
		    <label for="inputPassword3" class="col-sm-2 control-label"></label>
		    <div class="col-sm-8 input-group date datetimepicker">
          	    <p class="help-block">For advanced query syntax, read the <a href="http://support.gnip.com/apis/powertrack/rules.html" target="_target">GNIP Search API Reference</a>.</p>
		    </div>
		  </div>
		</form>

      </div>
    </div>

    <div id="collapseTerms" class="accordion-body collapse">
      <div class="accordion-inner">

		<br>
		
		<table class="table table-striped table-condensed" id="frequency">
		<tr>
		<th></th>
		<th>Term</th>
		<th>Mentions (100)</th>
		<th>Mentions %</th>
		<th>Activities (100)</th>
		<th>Activities %</th>
		</tr>
		
		</table>

      </div>
    </div>
</div>

</div>
</div>

<div class="row">
<div class="col-md-offset-1 col-md-10">

	<div id="activity_volume">
	
	<h3>Activity Volume</h3>
	
	<p class="help-block">Tweet count: <span id="total"></span></p>
	
	<div class="row volume">
	
		<div class="col-md-12">
			<div id="chart">Please select a data source and click "Submit".</div>
		</div>
	
	</div>
	
	</div>

</div>
</div>

<div class="row" id="activity_tweets">
<div class="col-md-offset-1 col-md-10">

<h3>Activity</h3>

<p class="help-block">Last {{tweets|length}}</p>

<div id="tweets">

</div>

</div>
</div>

{% verbatim %}
<script id="templateTweet" type="text/template">
<article class="white-panel">
	<blockquote class="twitter-tweet" lang="en">
		<p>{{body}}</p>
		&mdash;
		{{actor.displayName}} ({{actor.preferredUsername}})<a href="{{object.link}}">{{object.postedTime}}</a>
	</blockquote>
</article>
</script>

<script id="templateFrequency" type="text/template">
<tr>
	<td><input type="checkbox" value="{{4}}" class="term"></td>
	<td>{{4}}</td>
	<td>{{0}}</td>
	<td>{{mentionPercent}}</td>
	<td>{{2}}</td>
	<td>{{activityPercent}}</td>
</tr>
</script>
{% endverbatim %}

<script>

window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));

$('#tweets').pinterest_grid({
	no_columns: 3,
	padding_x: 10,
	padding_y: 10,
	margin_bottom: 50,
	single_column_breakpoint: 700
});

</script>

{% endblock %}