{% extends "base.html" %}
{% load tags %}

{% block title %}Ratings Everywhere{% endblock %}

{% block content %}

<h1>Ratings Everywhere</h1>

<h3>Step 1: Enter a topic</h3>

<p>Enter a few keywords about the subject to rate.</p>

<form class="form-inline" role="form" method="GET" action="/">

<div class="row">
  <div class="col-xs-4">
    <input type="text" class="form-control col-xs-6" name="query" id="query" placeholder="Search Term" value="{{query}}">
  </div>
  <div class="col-xs-3">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</div>

{% if frequency %}

<h4>Add related terms (Optional)</h4>

<p>Add relevant search terms to expand or refine your ratings, and re-run your search.

<a href="#" data-toggle="collapse" data-target="#collapseOne">
  See Related Terms
</a>

</p>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">

<br>

<table class="table table-striped table-condensed">
<tr>
<th></th>
<th>Term</th>
<th>Mentions (100)</th>
<th>Mentions %</th>
<th>Activities (100)</th>
<th>Activities %</th>
</tr>

{% for f in frequency %}
<tr>
<td><input type="checkbox" value="{{f.4}}" class="term"></td>
<td>{{f.4}}</td>
<td>{{f.0}}</td>
<td>{{f.1|percentage}}</td>
<td>{{f.2}}</td>
<td>{{f.3|percentage}}</td>
</tr>
{% endfor %}

</table>

      </div>
    </div>
  </div>
</div>

{% endif %}

{% if query %}

<h3>Step 2: Review Results</h3>

<p>Based on {{results.count}} Tweets with strong positive/negative sentiment, here is your rating for <em>{{query}}</em>.</p>

<div class="row jumbotron rating">

	<div class="col-md-12">
		<span class="rating_score">
			<img src="{{STATIC_URL}}images/bird.png" class="rating_img">
			55%
		</span>
	</div>

</div>

{% endif %}

{% if tweets %}

<h3>Step 3: Save top Tweets</h3>

<p>Click on the tweets below to highlight key Tweets to appear in your integration.</p>

<div class="row">

<div class="col-md-6">

<h4 class="alert alert-success">Top</h4>

{% for t in tweets.top %}

<div class="row">
	<div class="col-md-3 tweet_rating_score">
		{{t.rating|percentage}}
	</div>
	<blockquote class="tweet col-md-8">
	  <img src="{{t.actor.image}}" class="pull-left">
	  <footer>{{t.actor.displayName}} <cite title="">(<a href="{{t.actor.link}}" target="_target">@{{t.actor.preferredUsername}})</a></cite></footer>
	  <p>{{ t.body }}</p>
	</blockquote>
</div>

{% endfor %}

</div>

<div class="col-md-6">

<h4 class="alert alert-danger">Bottom</h4>

{% for t in tweets.bottom %}

<div class="row">
	<div class="col-md-3 tweet_rating_score">
		{{t.rating|percentage}}
	</div>
	<blockquote class="tweet col-md-8">
	  <img src="{{t.actor.image}}" class="pull-left">
	  <footer>{{t.actor.displayName}} <cite title="">(<a href="{{t.actor.link}}" target="_target">@{{t.actor.preferredUsername}})</a></cite></footer>
	  <p>{{ t.body }}</p>
	</blockquote>
</div>

{% endfor %}

</div>

</div>

{% endif %}

{% if query %}

<h3>Step 4: Integrate</h3>

<p>After selecting key Tweets above, click on the button below to generate endpoints and code samples to save your ratings.</p>

<button type="submit" class="btn btn-primary btn-small" id="generate_endpoints">Generate Endpoints</button>

<br><br>

<div id="endpoints">

<h4>JSON</h4>

<div>
	<div class="zero-clipboard">
		<span class="btn-clipboard copy-button" data-clipboard-text="{{ integration.json }}" data-toggle="tooltip" data-placement="top" title="Copied">Copy</span>
	</div>
	<pre class="code">{{ integration.json }}</pre>
</div>

<h4>Ratings Endpoint</h4>

<div>
	<div class="zero-clipboard">
		<span class="btn-clipboard copy-button" data-clipboard-text="{{ integration.endpoint }}" data-toggle="tooltip" data-placement="top" title="Copied">Copy</span>
	</div>
	<pre class="code">{{ integration.endpoint }}</pre>
</div>

<h4>Web Plugin</h4>

<div>
	<div class="zero-clipboard">
		<span class="btn-clipboard copy-button" data-clipboard-text="{{ integration.web }}" data-toggle="tooltip" data-placement="top" title="Copied">Copy</span>
	</div>
	<pre class="code">{{ integration.web|escape }}</pre>
	<a href="#">Click here</a> to view

</div>

<h4>iOS Code (Use with <a href="https://dev.twitter.com/products/fabric" target="_target">Fabric</a>)</h4>

<div>
	<div class="zero-clipboard">
		<span class="btn-clipboard copy-button" data-clipboard-text="https://twitter.com/intent/tweet?text=This%is%20a%20tweet%20quote&amp;url=http%3A%2F%2Fdev.twitter.com&amp;via=twitterdev" data-toggle="tooltip" data-placement="top" title="Copied">Copy</span>
	</div>
	<pre class="code">{{ integration.ios|escape }}</pre>
</div>

<h4>Android Code (Use with <a href="https://dev.twitter.com/products/fabric" target="_target">Fabric</a>)</h4>

<div>
	<div class="zero-clipboard">
		<span class="btn-clipboard copy-button" data-clipboard-text="https://twitter.com/intent/tweet?text=This%is%20a%20tweet%20quote&amp;url=http%3A%2F%2Fdev.twitter.com&amp;via=twitterdev" data-toggle="tooltip" data-placement="top" title="Copied">Copy</span>
	</div>
	<pre class="code">{{ integration.android|escape }}</pre>
</div>	

</div>

{% endif %}



{% endblock %}