{% extends "base.html" %}

{% block content %}

<h1>Ratings Everywhere</h1>

<h3>Step 1: Enter a topic</h3>

<p>Enter a few keywords about the subject to rate.</p>

<form class="form-inline" role="form" method="GET" action="/">
  <div class="form-group">
    <label class="sr-only" for="query">Password</label>
    <input type="text" class="form-control" name="query" id="query" placeholder="Search Term" value="{{query}}">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<h4>Choose related terms</h4>

<p>Choose relevant search terms to expand or refine your ratings, and re-run your search.</p>

<h3>Step 2: Save top Tweets</h3>

JSON endpoint: {{ something }}



{% endblock %}