{% extends "base.html" %}
{% load tags %}

{% block title %}Twitter Learning{% endblock %}

{% block content %}

<h1>Twitter Learning</h1>

<p>Use this page to determine how the sentiment analysis is done.</p>

<form class="form-inline" role="form" method="GET" action="/learning">


<h3>Text Processing</h3>

<p>Calculate sentiment through <a href="http://text-processing.com/demo/sentiment/" target="_target">text-processing.com</a>, a website and API for hosted sentiment analysis. Note that some <a href="https://www.mashape.com/japerk/text-processing/Pricing" target="_target">fees may apply</a>.</p>

<div class="row">
  <div class="col-md-3">
    <button type="submit" class="btn {% if classifier == "tp"%}btn-primary{% else %}btn-default{% endif %}" name="corpus" value="tp">{% if classifier == "tp"%}In Use{% else %}Use This{% endif %}</button>
  </div>
</div>

<h3>Local NLTK Movie Corpus</h3>

<p>Implement the NLTK library's default Movie Corpus example to experiment with sentiment analysis locally.</p>

<div class="row">
  <div class="col-md-3">
    <button type="submit" class="btn {% if classifier == "movies"%}btn-primary{% else %}btn-default{% endif %}" name="corpus" value="movies">{% if classifier == "movies"%}In Use{% else %}Use This{% endif %}</button>
  </div>
</div>

<h3>Trained Tweet Corpus</h3>

<p>Classify tweets through this tool, and use this as the corpus for calculating sentiment analysis.</p>

<div class="row">
  <div class="col-md-3">
    <button type="submit" class="btn {% if classifier == "tweets"%}btn-primary{% else %}btn-default{% endif %}" name="corpus" value="tweets">{% if classifier == "tweets"%}In Use{% else %}Use This{% endif %}</button>
  </div>
</div>

</form>

{% endblock %}